.army-select {
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  .army {
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 60px;
    height: 60px;
    width: 100%;
    & > *:nth-child(even) {
      background-color: #bbbbbb;
    }
    & > *:nth-child(odd) {
      background-color: #555555;
    }
  }
  .army.hover-army > * {
    background-color: #3f48cc;
    cursor: pointer;
  }
  .army-block {
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 400px;
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(79, 72, 204, 0.3);
    border-radius: 8px;
    // -ms-overflow-style: none;
    // scrollbar-width: none;
    // ::-webkit-scrollbar {
    //   display: none;
    // }
    .army-item {
      position: relative;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-auto-rows: 45px;
      height: 45px;
      flex-shrink: 0;
      & > *:nth-child(even) {
        background-color: #bbbbbb;
      }
      & > *:nth-child(odd) {
        background-color: #555555;
      }
    }
    .army-item.hover-army > * {
      background-color: #3f48cc;
      cursor: pointer;
    }
  }
}

@media (max-width: 1024px) {
  .army-select {
    width: 100%;
    max-width: 100%;
    overflow: hidden;

    .army {
      position: relative;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-auto-rows: 45px;
      height: 45px;
      width: 100%;
      & > *:nth-child(even) {
        background-color: #bbbbbb;
      }
      & > *:nth-child(odd) {
        background-color: #555555;
      }
    }
    .army.hover-army > * {
      background-color: #3f48cc;
      cursor: pointer;
    }
    .army-block {
      z-index: 5;
      position: relative;
      display: flex;
      flex-direction: column;
      height: auto;
      max-height: 300px;
      width: 100%;
      max-width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      background: rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(79, 72, 204, 0.3);
      border-radius: 8px;
      // -ms-overflow-style: none;
      // scrollbar-width: none;
      // ::-webkit-scrollbar {
      //   display: none;
      // }
      .army-item {
        position: relative;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: 45px;
        height: 45px;
        width: 100%;
        flex-shrink: 0;
        & > *:nth-child(even) {
          background-color: #bbbbbb;
        }
        & > *:nth-child(odd) {
          background-color: #555555;
        }
      }
      .army-item.hover-army > * {
        background-color: #3f48cc;
        cursor: pointer;
      }
    }
  }
}
